@font-face {
    font-family: 'effra-medium';
    src: url('../fonts/Effra_WLatn_Md.eot');
    src: url('../fonts/Effra_WLatn_Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Effra_WLatn_Md.woff2') format('woff2'),
         url('../fonts/Effra_WLatn_Md.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'effra-regular';
    src: url('../fonts/Effra_WLatn_Rg.eot');
    src: url('../fonts/Effra_WLatn_Rg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Effra_WLatn_Rg.woff2') format('woff'),
        url('../fonts/Effra_WLatn_Rg.woff') format('woff');
    font-style: normal;
}

body, html {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    background-color: #fff;
    font-family: Effra-Regular,sans-serif;
    font-weight: 400;
    color: #53535f;
    letter-spacing: normal;
}

.l-filtersBar {
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 4000;
}

.filtersBar {
    background-color: #262637;
    font-weight: 400;
}

.filtersBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 6000;
}

.filter-tray--fullscreen .l-filtersBar, .property-type-tray--fullscreen .l-filtersBar,
.sticky-filters .l-filtersBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    z-index: 6000;
}

.sticky-filters .filtersBar {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,.3);
    box-shadow: 0 3px 3px -3px rgba(0,0,0,.3);
}

.l-container
{
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%;
}

.filtersBar-filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filtersBar-location {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    padding: 0;
    margin: 5px 0 0 5px;
    border-bottom: 5px solid #262637;
    border-right: 1px solid #262637;
}

.filters-location
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.input
{
    padding: 10px;
    background-color: #fff;
    border-radius: 0;
    border: none;
    font-size: 17px;
}

.input.autocomplete-text
{
    display: inline-block;
    width: 100%;
    font-weight: 400;
    padding-right: 30px;
    text-overflow: ellipsis;
    padding: 10px;
    background-color: #fff;
    border: none;
    font-size: 17px;
}

.autocomplete-clear-button {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 15px;
    height: 15px;
    margin-top: -7.5px;
    line-height: 15px;
    border-radius: 7.5px;
    background: #dfdfe1;
    text-align: center;
    font-size: 11px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.filters-suggestions {
    display: none;
}

.filtersBar .filtersBar-radius {
    display: none;
    min-width: 125px;
    font-size: 17px;
    border-radius: 0 2px 2px 0;
}

.select-wrapper {
    position: relative;
}

.filters-selectWrapper {
    position: relative;
    color: #53535f;
}

.filtersBar .filters-selectWrapper {
    color: #fff;
}

.filtersBar .filtersBar-radius .select-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10px;
    border-left: 1px solid #dfdfe1;
    color: #262637;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.select-value {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    color: inherit;
}

.filtersBar .filtersBar-radius .select-value {
    padding-right: 15px;
}

.filtersBar .select-chevron {
    fill: #00deb6;
}

.select-chevron {
    width: 9px;
    height: 9px;
    margin-left: 2px;
    pointer-events: none;
    fill: #797885;
    stroke: transparent;
    -webkit-transition-property: fill,-webkit-transform;
    transition-property: fill,-webkit-transform;
    transition-property: transform,fill;
    transition-property: transform,fill,-webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    display: inline-block;
}

.filtersBar .filtersBar-radius .select-chevron {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
    fill: #797885;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.filters-selectWrapper .select {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.filters-selectWrapper option {
    background-color: #fff;
    color: #262637;
}

.filters-label {
    display: block;
    margin: 5px 0;
    color: #262637;
}

.filtersBar-filter .filters-label {
    display: none;
}

.filters-dropdown--double {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.filtersBar .filters-dropdown--double {
    height: 50px;
    line-height: 50px;
}

.filters-dropdown .select-wrapper {
    width: auto;
    float: none;
    min-width: 125px;
}

.filtersBar .filters-dropdown--double .select-wrapper {
    width: auto;
}

.filtersBar .filters-dropdown--double .select-wrapper:first-child {
    padding-left: 10px;
    text-align: right;
}

.filters-text {
    padding: 0 5px;
}

.filtersBar .filters-dropdown--double .filters-text {
    padding: 15px;
}

.filtersBar-filter .filters-text {
    color: hsla(0,0%,100%,.5);
}

.filtersBar .filters-dropdown--double .select-wrapper .select-value {
    text-align: inherit;
}

.filtersBar .filters-dropdown--double .select-wrapper:last-child {
    padding-right: 10px;
    text-align: left;
}

.filters-dropdown .select-wrapper .select {
    width: 100%;
}

.filtersBar-bedrooms .filters-dropdown .select-wrapper {
    min-width: 110px;
}

.filtersBar-more, .filtersBar-propertyType,
.filtersBar-unitSizePriceTrigger {
    padding: 0 20px;
    border-top: 1px solid transparent;
    color: #fff;
    cursor: pointer;
}

.filtersBar-more {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.filtersBar-moreText {
    width: 95px;
    text-align: center;
    cursor: pointer;
}

.mapSearch-results-container {
    height: 100%;
    border-top: 50px solid hsla(0,0%,100%,0);
    overflow: hidden;
    position: relative;
}

.mapSearch {
    background: #f4f4f5;
}

.google-maps-viewport, .mapSearch {
    height: 100%;
    position: relative;
}

.googleMapsContainer {
    position: absolute;
    top: 0;
    bottom: 105px;
    left: 0;
    right: 0;
}

.mapToolbarAndErrors {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.mapToolbar {
    width: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
}

.mapToolbar>div {
    position: absolute;
    margin: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    display: flex;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    display: inline-block;
    background-color: #f4f4f5;
    padding: 0 15px;
    border: 1px solid #dfdfe1;
    line-height: 40px;
    font-size: 17px;
    text-align: center;
    color: #53535f;
    cursor: pointer;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    display: inline-block;
    background-color: #f4f4f5;
    padding: 0 15px;
    border: 1px solid #dfdfe1;
    line-height: 40px;
    font-size: 17px;
    text-align: center;
    color: #53535f;
    cursor: pointer;
}

.mapToolbar .button {
    font-size: 15px;
    line-height: 38px;
    padding: 0 14px;
    border: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f4f4f5));
    background-image: linear-gradient(180deg,#fff,#f4f4f5);
    text-decoration: none;
    display: inline-block;
}

.mapToolbar .button .label {
    color: #262637;
    margin-left: 5px;
    display: none;
}

.mapToolbar .exit-button .label, .mapToolbar .keywords-button .label {
    display: inline-block;
}

.mapToolbar>div.right {
    right: 0;
}

.mapToolbar .create-alert-button {
    padding: 0;
}

.mapToolbar>div.right>:not(:last-child) {
    border-right: 1px solid #d5d5d5;
}

.searchTitle-saveIcons {
    position: relative;
    cursor: pointer;
}

.searchTitle-saveIcons {
    display: inline-block;
}

.searchTitle-saveIcons .saveSearch-toggle {
    padding: 10px 14px;
}

.searchTitle-chevron {
    display: inline-block;
    height: 20px;
    width: 6px;
    position: relative;
    top: 5px;
    margin-right: 15px;
}

.searchTitle-saveIcons .searchTitle-chevron {
    display: none;
}

.searchTitle-save {
    position: relative;
    top: 2px;
    width: 15px;
    height: 16px;
    padding: 0;
    fill: #bbb;
    cursor: default;
}

.searchTitle-save--unsaved {
    display: inline-block;
}

.searchTitle--saveable .searchTitle-save {
    fill: #eb3264;
    cursor: pointer;
}

.searchTitle-saveLabel {
    font-style: normal;
    margin-left: 5px;
    font-size: 15px;
    position: relative;
    bottom: 1px;
}

.searchTitle-saveLabel--dark {
    color: #262637;
}

.searchTitle-saveIcons .searchTitle-saveLabel {
    line-height: 38px;
    vertical-align: top;
    display: none;
}

.mapToolbar .button .icon {
    display: inline-block;
    top: 3px;
    position: relative;
}

.mapToolbar .button .icon svg {
    height: 16px;
    width: 16px;
}

.saveSearch {
    z-index: 1000;
    position: absolute;
    width: 240px;
    top: 30px;
    left: 10px;
    cursor: default;
}

.searchTitle-saveIcons .saveSearch {
    text-align: left;
    line-height: 15px;
    top: 48px;
    left: 0;
}

.filtersTray, .globalHeader {
    display: none;
}

.filtersTray {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2000;
}

.filtersTray.is-open {
    display: block;
}

.sticky-filters .filtersTray.is-open {
    position: fixed;
}

.filtersTray-content {
    position: absolute;
    top: 0;
    bottom: 168px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.filtersTray-filter {
    position: relative;
    padding: 0 10px 10px;
}

.filtersTray-addedToSiteAndStatus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.filtersTray-addedToSiteAndStatus .l-container {
    display: block;
    position: static;
}

.filtersTray-addedToSiteAndStatus .filters-label {
    display: none;
}

.filtersTray-dropdown .select-wrapper {
    padding: 10px;
    border: 1px solid #bbb;
}

.addedToSiteAndLetType-flexSpacer {
    display: block;
    width: 50%;
    margin-left: 20px;
}

.includeStatus {
    padding-top: 20px;
}

.includeStatus-title {
    display: inline-block;
    vertical-align: top;
}

.includeStatus-checkboxNative {
    visibility: hidden;
    width: 0;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.includeStatus-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition-property: background,border-color;
    transition-property: background,border-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    margin-left: 0;
    margin-right: 15px;
    float: left;
}

.includeStatus-checkboxNative:checked+.includeStatus-checkbox {
    background: #00deb6;
    border-color: #00deb6;
}

.includeStatus-checkboxTick {
    display: none;
}

.includeStatus-checkboxNative:checked+.includeStatus-checkbox .includeStatus-checkboxTick {
    display: block;
    position: absolute;
    width: 13.33333px;
    height: 13.33333px;
    top: 2px;
    left: 2px;
    fill: #fff;
}

.info-letAgreedFilter, .info-soldStcFilter {
    cursor: pointer;
    background: #bbb;
    border-radius: 50%;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    line-height: 14px;
    margin: 0;
}

.info-letAgreedFilter, .info-soldStcFilter {
    vertical-align: top;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 4px;
}

.filtersTray-dropdown .select-chevron {
    right: 10px;
}

.filtersTray-addedToSiteAndStatus:after {
    content: " ";
    display: table;
    clear: both;
}

.filtersTray-characteristics {
    background-color: #fff;
}

.filtersTray-filter {
    position: relative;
    padding: 0 10px 10px;
}

.multiSelect-header {
    padding: 5px 0;
    border: 1px solid #bbb;
    color: #262637;
}

.multiSelect-option {
    position: relative;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #53535f;
    cursor: pointer;
}

.multiSelect {
    width: 100%;
}

.multiSelect-options {
    width: 100%;
    height: 0;
    background-color: #f4f4f5;
    overflow: hidden;
}

.search-icon--tick {
    display: none;
}

.multiSelect-label {
    display: inline-block;
    position: relative;
    width: 185px;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
}

.multiSelect-option--selected .multiSelect-label {
    background-color: #262637;
    color: #fff;
}

.filters-actions {
    position: absolute;
    bottom: 108px;
    width: 100%;
    height: 108px;
    background-color: #f4f4f5;
    border-top: 1px solid #dfdfe1;
    overflow: hidden;
}

.filters-totalResults {
    width: 100%;
    padding: 10px;
    border-bottom: 1px dashed #dfdfe1;
    float: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-size: 17px;
    text-align: center;
}

.filters-totalResultsCount {
    font-family: Effra-Medium,Arial,Geneva,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.filters-action--clear {
    float: left;
}

.button--full {
    display: block;
    width: 100%;
}

.filters-action .button {
    border-width: 1px;
    border-radius: 2px;
}

.filters-action--submit {
    float: right;
}

.button--primary {
    background-color: #00deb6;
    border-color: #00deb6;
    color: #262637;
}

@media (min-width: 31.25em)
{
    .input.autocomplete-text
    {
        border-radius: 2px 0 0 2px;
    }

    .autocomplete-clear-button
    {
        right: 152.5px;
    }

    .filtersBar .filtersBar-radius {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #fff;
        padding: 5px 10px;
    }

    .filters-action--clear {
        width: 120px;
    }

    .filters-action--submit {
        width: 180px;
    }
}

@media (min-width: 37.5em)
{
    .l-filtersBar {
        -webkit-transition: -webkit-transform .2s ease-out;
        transition: -webkit-transform .2s ease-out;
        transition: transform .2s ease-out;
        transition: transform .2s ease-out,-webkit-transform .2s ease-out;
        will-change: transform;
    }

    .filters-suggestions {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

@media (min-width: 48em) {
    .filters-label {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 120px;
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
        margin: 10px 0 0;
        font-size: 15px;
    }

    .filtersBar-filter:nth-child(n+3) {
        border-left: 1px solid #53535f;
    }

    .googleMapsContainer {
        bottom: 0;
    }

    .mapToolbar .button .label {
        display: inline-block;
    }

    .searchTitle-saveIcons .searchTitle-saveLabel {
        display: inline-block;
    }

    .filtersTray-content {
        bottom: 120px;
    }

    .filtersTray.is-open div {
        visibility: visible;
    }

    .filtersTray-filter {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 15px;
        border-bottom: 1px dashed #dfdfe1;
    }

    .filtersTray div {
        visibility: hidden;
    }

    .filtersTray.is-open div {
        visibility: visible;
    }

    .addedToSiteAndLetType {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .filtersTray-addedToSiteAndStatus .filters-label {
        display: block;
    }

    .addedToSiteAndLetType-flexSpaceWrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }

    .addedToSiteAndLetType-flexSpaceWrapper .includeStatus,
    .addedToSiteAndLetType-flexSpaceWrapper .select-wrapper {
        width: 50%;
    }

    .includeStatus {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 10px 0;
    }

    .includeStatus-title {
        font-size: 15px;
    }

    .info-letAgreedFilter, .info-soldStcFilter {
        margin-top: 3px;
    }

    .filtersTray-filter {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 15px;
        border-bottom: 1px dashed #dfdfe1;
    }

    .filtersTray-featureSelection.filtersTray-mustHaves {
        background-color: #f4f4f5;
    }

    .filtersTray-featureSelection .multiSelect-header {
        display: none;
    }

    .filtersTray-featureSelection .multiSelect-option {
        width: 50%;
        padding: 10px;
        float: left;
    }

    .filtersTray-featureSelection .multiSelect-option:nth-child(odd) {
        padding-right: 10px;
        padding-left: 0;
    }

    .filtersTray-featureSelection .multiSelect-options {
        height: auto;
        background-color: transparent;
        border: none;
    }

    .filtersTray-featureSelection .multiSelect-label {
        width: 100%;
        border: 1px solid #bbb;
    }

    .filters-actions {
        height: 60px;
        padding: 9px 30px;
    }

    .filters-totalResults {
        width: auto;
        position: absolute;
        right: 210px;
        border-bottom: none;
        padding: 0 30px;
        height: 44px;
        line-height: 44px;
    }

    .filters-action {
        padding: 0;
    }
}

@media (min-width: 75em)
{
    .filtersBar {
        padding-left: 15px;
    }

    .filtersBar-location
    {
        margin-left: 0;
    }

    .filters-label {
        margin: 0;
    }

    .filtersTray {
        display: block;
        position: absolute;
        top: 100px;
        bottom: auto;
        -webkit-transform: translateY(-600px);
        -ms-transform: translateY(-600px);
        transform: translateY(-600px);
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
        will-change: transform;
    }

    .filtersTray.is-open {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }

    .sticky-filters .filtersTray.is-open {
        top: 50px;
    }

    .filtersTray-content {
        position: relative;
        bottom: auto;
        padding: 0;
    }

    .filtersTray-filter {
        border-bottom: none;
    }

    .filtersTray-addedToSiteAndStatus {
        display: block;
        width: auto;
        border-bottom: 1px dashed #dfdfe1;
    }

    .filtersTray-addedToSiteAndStatus .l-container {
        display: inherit;
        position: relative;
    }

    .filtersTray-addedToSiteAndStatus {
        display: block;
        width: auto;
        border-bottom: 1px dashed #dfdfe1;
    }

    .addedToSiteAndLetType {
        display: block;
        width: 50%;
        float: left;
        padding-right: 30px;
    }

    .addedToSiteAndLetType-flexSpaceWrapper {
        margin-top: 10px;
    }

    .includeStatus {
        position: relative;
        top: 0;
        right: 0;
        padding-left: 15px;
        padding-top: 50px;
        float: left;
    }

    .filtersTray-characteristics {
        border-bottom: none;
    }

    .filtersTray-featureSelection {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
        padding-top: 15px;
        border: none;
        border-right: 1px dashed #dfdfe1;
        float: left;
    }

    .channel--rent .filtersTray-featureSelection.filtersTray-mustHaves,
    .filtersTray-featureSelection.filtersTray-mustHaves {
        background-color: #f4f4f5;
    }

    .filtersTray-featureSelection .multiSelect {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }

    .filtersTray-featureSelection .filters-label {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        width: 100%;
    }

    .filters-actions {
        position: relative;
        bottom: 0;
        height: 80px;
        background-color: #fff;
        padding: 19px 30px;
        border-bottom: 1px solid #dfdfe1;
    }
}